@import url(reset.css);
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 10.5px;
  letter-spacing: -0.4px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕',
    helvetica, 'Apple SD Gothic Neo', sans-serif;
}
:root {
  --color_title: #080808;
  --color_title_rgb: 8, 8, 8;
  --color_body: #101010;
  --color_body_rgb: 16, 16, 16;
  --color_caption1: #404040;
  --color_caption1_rgb: 64, 64, 64;
  --color_caption2: #606060;
  --color_caption2_rgb: 96, 96, 96;
  --color_caption3: #555558;
  --color_caption3_rgb: 85, 85, 88;
  --color_search: #000;
  --color_search_rgb: 0, 0, 0;
  --color_border_out: #e3e5e8;
  --color_border_out_rgb: 227, 229, 232;
  --color_border_in: #ebebeb;
  --color_border_in_rgb: 235, 235, 235;
  --color_border_in_divider: #ebebeb;
  --color_border_in_divider_rgb: 235, 235, 235;
  --color_border_in_exception: #ebebeb;
  --color_border_in_exception_rgb: 235, 235, 235;
  --color_button_border: #dadcdf;
  --color_button_border_rgb: 218, 220, 223;
  --color_dot_divider: #d3d5d7;
  --color_dot_divider_rgb: 211, 213, 215;
  --color_block_bg: #fff;
  --color_block_bg_rgb: 255, 255, 255;
  --color_board_bg: #f4f6fa;
  --color_board_bg_rgb: 244, 246, 250;
  --color_option_bg: #f5f7f8;
  --color_option_bg_rgb: 245, 247, 248;
  --color_login_bg: #fafbfb;
  --color_login_bg_rgb: 250, 251, 251;
  --color_menu_widget_bg: #fff;
  --color_menu_widget_bg_rgb: 255, 255, 255;
  --color_setting_bg: #fff;
  --color_setting_bg_rgb: 255, 255, 255;
  --color_button1_bg: #fff;
  --color_button1_bg_rgb: 255, 255, 255;
  --color_button2_bg: #fff;
  --color_button2_bg_rgb: 255, 255, 255;
  --color_news: #3a67ea;
  --color_news_rgb: 58, 103, 234;
  --color_news_econ_stay: #909aab;
  --color_news_econ_stay_rgb: 144, 154, 171;
  --color_news_econ_down: #4f67d6;
  --color_news_econ_down_rgb: 79, 103, 214;
  --color_live_news_price: #f4361e;
  --color_live_news_price_rgb: 244, 54, 30;
  --color_enter: #e538e2;
  --color_enter_rgb: 229, 56, 226;
  --color_enter_bg: #f2f1fb;
  --color_enter_bg_rgb: 242, 241, 251;
  --color_sports: #1f65ef;
  --color_sports_rgb: 31, 101, 239;
  --color_sports_bg: #f4f7fe;
  --color_sports_bg_rgb: 244, 247, 254;
  --color_econ: #008f76;
  --color_econ_rgb: 0, 143, 118;
  --color_calendar: #eb5b5b;
  --color_calendar_rgb: 235, 91, 91;
  --color_dic: #031f5f;
  --color_dic_rgb: 3, 31, 95;
  --color_shop: #9858f5;
  --color_shop_rgb: 152, 88, 245;
}
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
#wrap {
  text-align: center;
}
#wrap-center {
  width: 1280px;
  display: inline-block;
}
#header {
  position: relative;
  height: 52px;
}
#header-hamburger,
#header-npay,
#header-talk,
#header-notice,
#header-shopping {
  position: absolute;
  top: 5px;
  width: 48px;
  height: 48px;
  padding: 10px;
  cursor: pointer;
  background: none;
  border: none;
}
#header-hamburger {
  left: -12px;
}
#header-npay {
  left: 41px;
}
#header-talk {
  right: 94px;
}
#header-notice {
  right: 42px;
}
#header-shopping {
  right: -10px;
}
#header-hamburger:hover::before,
#header-npay:hover::before,
#header-talk:hover::before,
#header-notice:hover::before,
#header-shopping:hover::before {
  position: absolute;
  content: '';
  background-color: var(--color_option_bg);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  top: -0px;
  left: 0px;
}
#header-hamburger::after,
#header-npay::after,
#header-talk::after,
#header-notice::after,
#header-shopping::after {
  content: '';
  display: block;
  background-image: url(/image/sp_main.png);
  background-size: 443px 424px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: relative;
  top: -2px;
  left: -2px;
}
#header-hamburger::after {
  background-position: -285px -214px;
}
#header-npay::after {
  background-position: -33px -287px;
}
#header-talk::after {
  background-position: -165px -287px;
}
#header-notice::after {
  background-position: -246px -229px;
}
#header-shopping::after {
  background-position: -99px -287px;
}
#search > form:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
#search > form {
  display: inline-flex;
  width: 708px;
  height: 59px;
  border: 1px solid #03c75a;
  border-radius: 33px;
  text-align: left;
}
#search-svg {
  padding: 17px 16px 17px 27px;
}
#search:focus-within #search-svg::after {
  position: absolute;
  right: 7px;
  content: '';
  width: 1px;
  height: 20px;
  background-color: #e4e4e4;
}
#search-svg svg {
  width: 24px;
  height: 24px;
  fill: #03c75a;
}
#search-input {
  width: 480px;
  height: 100%;
  padding: 17px 0;
  font-size: 2rem;
  line-height: 24px;
  font-weight: 400;
  border: none;
  outline: none;
}
#search-input::placeholder {
  color: #fff;
}
#search-input:focus::placeholder {
  color: #e4e4e4;
}
#search-right {
  display: flex;
  flex: 1;
  align-items: stretch;
  justify-content: flex-end;
}
#search-keyboard,
#search-recent,
#search-button {
  background: transparent;
  border: none;
  cursor: pointer;
}
#search-keyboard::before,
#search-recent::before,
#search-button::before {
  content: '';
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.3e7d337e.png);
  background-size: 443px 424px;
  background-repeat: no-repeat;
}
#search-keyboard::before {
  background-position: -278px -270px;
  width: 24px;
  height: 14px;
}
#search-keyboard:hover::before {
  /* background-position: -253px -270px;
  width: 24px;
  height: 14px; */
  filter: brightness(0.7);
}
#search-recent::before {
  background-position: -112px -98px;
  width: 10px;
  height: 6px;
}
#search-button {
  padding: 17px 27px 16px 10px;
}
#search-button::before {
  background-position: -111px -320px;
  width: 25px;
  height: 25px;
}
#nav {
  display: inline-block;
  width: 676px;
  margin: 10px 0 auto;
}
#nav ul {
  display: flex;
}
#nav ul li:not(:first-child) {
  position: relative;
  margin-left: -10.5px;
}
#nav ul li a {
  display: inline-block;
  width: 64px;
  text-decoration: none;
}
#nav ul li a:link,
#nav ul li a:visited {
  color: #323232;
}
#nav ul li a span:first-child:not(:last-child) {
  display: block;
  position: relative;
  width: 44px;
  height: 44px;
  margin: 0 auto;
}
#nav ul li:not(:last-child) a span:not(:last-child)::before,
#nav ul li:last-child div::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -3px;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.3e7d337e.png);
  background-size: 443px 424px;
  background-position: -193px 0px;
  background-repeat: no-repeat;
}
#nav ul li:not(:last-child) a span:not(:last-child)::after {
  position: absolute;
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.3e7d337e.png);
  background-size: 443px 424px;
  background-position: -242px -41px;
  background-repeat: no-repeat;
  top: -2px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#nav ul li:nth-child(1) a span:first-child:after {
  background-position: -244px -41px;
}
#nav ul li a span:nth-child(2) {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 3px;
  font-size: 1.3rem;
  line-height: 20px;
  text-align: center;
  font-weight: 500;
}
#nav ul li:nth-child(2) a span:first-child:after {
  background-position: -86px -184px;
}
#nav ul li:nth-child(3) a span:first-child:after {
  background-position: -45px -184px;
}
#nav ul li:nth-child(4) a span:first-child:after {
  background-position: -164px -229px;
}
#nav ul li:nth-child(5) a span:first-child:after {
  background-position: -82px -229px;
}
#nav ul li:nth-child(6) a span:first-child:after {
  background-position: -285px 0px;
}
#nav ul li:nth-child(7) a span:first-child:after {
  background-position: -123px -229px;
}
#nav ul li:nth-child(8) a span:first-child:after {
  background-position: -244px -82px;
}
#nav ul li:nth-child(9) a span:first-child:after {
  background-position: -285px -41px;
}
#nav ul li:nth-child(10) a span:first-child:after {
  background: none;
}
#nav ul li:nth-child(10) a span img {
  position: absolute;
  top: -2px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#nav ul li:nth-child(11) a span:first-child:after {
  background-position: -41px -229px;
}
#nav ul li:last-child::before {
  content: '';
  top: 11px;
  left: 16px;
  position: absolute;
  display: block;
  width: 1px;
  height: 20px;
  background-color: rgba(227, 229, 232, 0.8);
}
#nav ul li:last-child div::before {
  background-position: -193px 0px;
  width: 50px;
  height: 50px;
}
#nav ul li:last-child a div {
  width: 44px;
  height: 44px;
  position: relative;
  display: block;
  margin: auto;
}
#nav ul li:last-child a div span {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 2px;
  bottom: 2px;
  left: 2px;
  margin: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
#nav ul li:last-child {
  padding-left: 14px;
}
#nav ul li:last-child a {
  width: 83px;
}
.ico_ad {
  position: absolute;
  top: -6px;
  right: 13px;
  width: 26px;
  height: 22px;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.3e7d337e.png);
  background-size: 443px 424px;
  background-position: -350px -347px;
  background-repeat: no-repeat;
}

/* main */
#main {
  display: flex;
  margin-top: 26px;
}
#main-left {
  width: 830px;
  margin-right: 30px;
}
#main-right {
  width: 420px;
}
aside[id$='ad'] {
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
}
section[id^='main'] {
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
}
#main-left-ad,
#main-right-ad {
  background-color: #ddd;
}
#main-left-ad {
  height: 130px;
}
#main-right-ad {
  height: 240px;
}
#main-right-img-ad {
  height: 80px;
  background-color: #ddd;
}
#main-right-shopping-ad {
  height: 172px;
  background-color: #ddd;
}
#main-newstand {
  height: 425.67px;
  display: flex;
  flex-flow: column;
}
#main-newstand header,
#main-shopping header {
  display: flex;
  padding: 18px 20px 17px;
}
#main-newstand header a,
#main-shopping header a {
  font-size: 1.6rem;
  line-height: 23px;
  font-weight: 800;
  color: rgba(8, 8, 8, 0.5);
  cursor: pointer;
}
#main-newstand header a:hover #main-shopping header a:hover {
  text-decoration: underline;
}
#main-newstand header .selected,
#main-shopping header .selected {
  color: var(--color_title);
}
#main-newstand-top,
#main-shopping-top {
  flex: 1;
}
#main-newstand-top > header > .dot::before {
  content: '';
  display: inline-block;
  margin: 9px 7px 0;
  width: 4px;
  height: 4px;
  background-color: var(--color_dot_divider);
  vertical-align: 4px;
  border-radius: 50%;
}
#main-newstand-top > header > .slash,
#main-shopping-top > header > .slash {
  padding-left: 26px;
  position: relative;
}
#main-newstand-top > header > .slash::before,
#main-shopping-top > header > .slash::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 13px;
  width: 1px;
  height: 15px;
  background-color: var(--color_dot_divider);
  vertical-align: middle;
  /* vendor-prefix => -webkit or -ms 처럼 transform이 지원되지 않는 옛날 브라우저를 위해 사용하지만 요즘은 인터넷 익스플로어가 없어져서 필요없음  */
  transform: skewX(-15deg);
}
#main-newstand-animation {
  display: flex;
}
#main-newstand-animation-target {
  width: 400px;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}
.main-gray {
  display: flex;
  margin: 0 20px;
  padding: 12px 20px;
  background-color: var(--color_option_bg);
  border-radius: 4px;
  line-height: 26px;
  font-size: 1.4rem;
  justify-content: space-between;
}
#main-newstand-animation-target > div {
  display: flex;
  flex-flow: column;
  animation: newsAnimation 5s linear 1s infinite;
}
@keyframes newsAnimation {
  0% {
    transform: translateY(0px);
  }
  16.6666% {
    transform: translateY(0px);
  }
  33.3333% {
    transform: translateY(-26px);
  }
  50% {
    transform: translateY(-26px);
  }
  66.6666% {
    transform: translateY(-52px);
  }
  80% {
    transform: translateY(-52px);
  }
  91.6666% {
    transform: translateY(-65px);
  }
  91.66667% {
    transform: translateY(13px);
  }
  100% {
    transform: translateY(0px);
  }
}
#main-newstand-animation-target a {
  width: 400px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.main-gray a {
  color: #000;
}
.main-gray a:first-of-child {
  color: #000;
  display: inline-block;
}
.main-gray a:hover {
  text-decoration: underline;
}
.main-gray div:first-child {
  display: flex;
}
.main-gray div:first-child i {
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.3e7d337e.png);
  background-size: 443px 424px;
  background-position: -143px -176px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 9px;
  height: 6px;
  margin: 10px 0 0 5px;
  vertical-align: top;
}
.main-gray .center {
  flex: 1;
  position: relative;
  padding-left: 25px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-gray .center a:first-child {
  vertical-align: top;
  display: inline-block;
  height: 26px;
}
.main-gray .center a:last-child {
  display: inline-block;
  height: 20px;
}
.main-gray .center a::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 12px;
  width: 1px;
  height: 12px;
  background-color: var(--color_dot_divider);
}
.main-gray .center > a:first-of-type:after {
  content: '';
  display: inline-block;
  margin: 11px 6px 0;
  width: 3px;
  height: 3px;
  background-color: var(--color_dot_divider);
  vertical-align: 4px;
  border-radius: 50%;
}
.main-gray .right {
  position: relative;
  display: flex;
}
.main-gray .right a {
  display: inline-block;
  height: 26px;
}
.main-gray .right a:last-of-type {
  font-weight: bold;
  padding-left: 25px;
  position: relative;
}
.main-gray .right a:last-of-type::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 12px;
  width: 1px;
  height: 12px;
  background-color: var(--color_dot_divider);
}
#main-newstand-grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(4, 56px);
  height: 223.33px;
  width: 790px;
  grid-template-columns: repeat(6, 131.39px);
  /* grid-template-rows: 56px 56px 56px 56px; */
  /* grid-template-columns: 131.39px 131.39px 131.39px 131.39px 131.39px 131.39px; */
  margin: 18px 20px;
}
#main-newstand-grid > a {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color_border_in);
  grid-gap: 1px;
  text-align: center;
  padding: 18px 0;
}
#main-newstand footer,
#main-shopping footer {
  border-top: 1px solid var(--color_border_in);
  padding: 10px 0 11px;
  display: flex;
  justify-content: center;
  color: var(--color_caption2);
  font-size: 1.3rem;
  line-height: 35px;
  font-weight: 600;
  vertical-align: top;
  position: relative;
}
#main-left footer .prev,
#main-left footer .next {
  width: 36px;
  height: 36px;
  border: 1px solid var(--color_button_border);
  background-color: var(--color_button1_bg);
  position: relative;
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
}
#main-left footer .prev:hover,
#main-left footer .next:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  background-color: #fbfbfc;
}
#main-left footer .prev::before {
  transform: rotate(180deg);
}
#main-left footer .prev::before,
#main-left footer .next::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.3e7d337e.png);
  background-size: 443px 424px;
  background-position: -431px -181px;
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#main-newstand footer > div:first-of-type {
  min-width: 156px;
  padding: 0 16px;
}
#main-shopping footer > div {
  min-width: 176px;
  padding: 0 16px;
}
#main-left footer .news {
  color: var(--color_news);
  font-size: 1.3rem;
  line-height: 35px;
  font-weight: 600;
}
#main-shopping footer .news {
  color: #9858f5;
}
#main-left footer .total {
  color: rgba(96, 96, 96, 0.5);
}
#main-newstand footer > div:last-of-type {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
#main-newstand footer .list,
#main-newstand footer .grid {
  background: transparent;
  border: none;
  cursor: pointer;
}
#main-newstand footer .list::before,
#main-newstand footer .grid::before {
  content: '';
  display: inline-block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.3e7d337e.png);
  background-size: 443px 424px;
  background-position: -386px -179px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
#main-newstand footer .list:hover::before {
  background-position: -386px -158px;
}
#main-newstand footer .list {
  padding: 18px 9px 18px 20px;
}
#main-newstand footer .grid {
  padding: 18px 20px 18px 9px;
}
#main-newstand footer .grid::before {
  content: '';
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.3e7d337e.png);
  background-size: 443px 424px;
  background-position: -410px -84px;
}
#main-newstand footer .grid:hover::before {
  background-position: -410px -63px;
}
#main-shopping {
  height: 560px;
  display: flex;
  flex-flow: column;
}
#main-shopping header {
}
#main-shopping header .right {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 1.3rem;
}
#main-shopping header .right .pagination {
  line-height: 16px;
  font-weight: 600;
  margin: 6px 9px 8px 0;
}
#main-shopping header .right .pagination .total {
  color: rgba(113, 113, 113, 0.6);
}
#shopping-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 250px;
  grid-template-rows: 90px 95px 170px;
  column-gap: 20px;
  margin-top: 18px;
  padding-inline: 20px;
}
#shopping-grid .item .text {
  line-height: 20px;
  letter-spacing: -0.8px;
  font-size: 1.4rem;
  text-align: left;
}
#shopping-grid .item .image {
  width: 115px;
  height: 115px;
  border-radius: 4px;
  background-color: #ddd;
  margin-bottom: 10px;
}
.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(3),
.item:nth-child(4) {
  grid-row: 1 / span 2;
}
.item:nth-child(5),
.item:nth-child(6),
.item:nth-child(11) > div:first-of-type {
  position: relative;
  padding: 9px 11px 4px;
  border-radius: 4px;
  background: rgba(245, 248, 251, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.item:nth-child(6) {
  margin-block: 12px;
  padding: 9px;
}
.item:nth-child(11) > div:first-of-type {
  height: 135px;
  margin-bottom: 10px;
}

/* left section */
#main-login {
  height: 163.33px;
  padding: 21px 20px 18px;
  text-align: center;
  font-size: 1.4rem;
}
#login-text {
  line-height: 20px;
}
#main-login-button {
  display: block;
  margin-top: 13px;
  padding: 17px 0;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 4px 0 rgba(3, 199, 90, 0.12);
  border-radius: 4px;
  background-color: #03c75a;
  color: white;
  line-height: 20px;
}
#main-login-button i {
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.3e7d337e.png);
  background-size: 443px 424px;
  background-position: -130px -270px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 72px;
  height: 14px;
  margin: 3px 8px 0 0;
  vertical-align: -1px;
}
#main-login > div {
  margin-top: 16px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-login > div > a,
#main-login > div > a:visited {
  color: var(--color_caption2);
}
#main-login > div > a:hover {
  text-decoration: underline;
}
#main-login > div > a:not(:first-of-type)::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: var(--color_dot_divider);
  margin: 4px 12px 0;
  vertical-align: top;
}
.main-weather-and-stock {
  padding: 0 18px;
}
.main-weather-and-stock > header {
  padding: 6px 0;
  line-height: 40px;
}
.main-weather-and-stock > div {
  border-top: 1px solid var(--color_border_in);
}
#main-weather {
  height: 236px;
}
#main-stock {
  height: 236px;
}
